@charset "utf-8";
#socialtape {
	position: fixed;
	top: 120px;
	text-align: right;
	z-index: 2;
}
#socialtape img:hover {
	transform:scale(1.2);
}
#videobox {
	position: absolute;
	top: 0px;
	text-align: center;
}